<table class mat-table [dataSource]="prices" class="w-100">
	<ng-container matColumnDef="index">
		<th mat-header-cell *matHeaderCellDef>No.</th>
		<td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
	</ng-container>

	<ng-container matColumnDef="instrument">
		<th mat-header-cell *matHeaderCellDef>Instrument</th>
		<td mat-cell *matCellDef="let item">{{ item.instrument }}</td>
	</ng-container>

	<ng-container matColumnDef="bid">
		<th mat-header-cell *matHeaderCellDef>Bid</th>
		<td mat-cell *matCellDef="let item">{{ item.bid }}</td>
	</ng-container>

	<ng-container matColumnDef="ask">
		<th mat-header-cell *matHeaderCellDef>Ask</th>
		<td mat-cell *matCellDef="let item">{{ item.ask }}</td>
	</ng-container>

	<ng-container matColumnDef="timestamp">
		<th mat-header-cell *matHeaderCellDef>Timestamp</th>
		<td mat-cell *matCellDef="let item">{{ item.timestamp }}</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
	<tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
